@import "tailwindcss";

@theme {
  --font-sans: var(--font-orbitron);
  --font-mono: var(--font-geist-mono);
}
@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.8s cubic-bezier(0.4,0,0.2,1) both;
}
